.categories-grid {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px;

    .category-card {
        border-radius: 10px;
        overflow: hidden;
        box-shadow: $shadow;
        cursor: pointer;
        transition: $transition;

        img {
            width: 100%;
            display: block;
            transition: transform 0.3s;
        }

        &:hover {
            transform: translateY(-5px);

            img {
                transform: scale(1.05);
            }
        }
    }


    @media (max-width: 768px) {
        grid-template-columns: 1fr;
    }
}